@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@layer utilities{
  .min-h-10{
    min-height: 2.5rem;
  }
}

@layer base {
  html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

@layer components {
  .menu-icon {
    @apply relative flex items-center justify-center h-14 w-14 mt-2 mb-2 mx-auto 
    bg-gray-400 hover:bg-green-400 text-green-50 hover:text-white 
    hover:rounded-xl rounded-3xl  shadow-lg
    transition-all duration-300 ease-linear cursor-pointer;
  }

  .menu-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 
    rounded-md shadow-md 
    text-white bg-gray-900 text-xs font-bold
    transition-all duration-100 scale-0 origin-left;
  }

  .search-bar {
    @apply flex items-center justify-start 
    bg-gray-50 text-gray-500
    px-2 py-4 mb-4 h-9 ml-0 mr-0 w-8/12 
    rounded-md shadow-md 
    transition duration-300 ease-in-out;
  }

  .search-input {
    @apply w-full pl-1 font-semibold
    bg-transparent outline-none 
    text-gray-800  placeholder-gray-500
    rounded;
  }

  .content-container {
    @apply flex flex-col items-center justify-start overflow-y-auto
    mr-0 ml-10 mx-auto px-6 py-10 w-screen h-screen
    bg-gray-200 overflow-hidden;
  }

  .card {
    @apply relative isolate flex items-center overflow-hidden 
    gap-x-6 py-2.5 px-6 h-10 min-h-10 w-3/4 m-1
    rounded-md hover:rounded-lg shadow-sm
    bg-gray-50 border-gray-100 border-2 hover:border-green-400
    transition-all duration-100 ease-in cursor-pointer;
  }

  .add-card {
    @apply relative isolate flex items-center justify-center overflow-hidden 
    gap-x-6 py-2.5 px-6 h-10 min-h-10 w-3/4 m-1
    rounded-lg
   border-gray-500 border-2 border-dotted hover:border-solid hover:border-green-400
    transition-all duration-100 ease-in cursor-pointer;
  }

  .card-button{
    @apply w-8 rounded-md border-2
  }
}
