@tailwind base;
@tailwind components;
@tailwind utilities;

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
input,
button,
textarea,
:focus {
  outline: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@layer utilities {
  .min-h-10 {
    min-height: 2.5rem;
  }
}

@layer base {
  html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

@layer components {
  .btn {
    @apply relative flex w-full justify-center rounded-md py-2 px-3
    text-white text-sm font-semibold;
  }

  .tooltip {
    @apply px-4 py-3 
    bg-white text-[15px]
    select-none leading-none
    rounded-md
    shadow-[hsl(206_22%_7%_/_35%)_0px_10px_38px_-10px,_hsl(206_22%_7%_/_20%)_0px_10px_20px_-15px] 
    transition-all duration-100 will-change-[transform,opacity]; 
  }

  .menu-icon {
    @apply relative flex items-center justify-center h-14 w-14 mt-2 mb-2 mx-auto 
    bg-gray-400 hover:bg-green-400 text-green-50 hover:text-white 
    hover:rounded-xl rounded-3xl  shadow-lg
    transition-all duration-300 ease-linear cursor-pointer;
  }

  .menu-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 
    rounded-md shadow-md 
    text-white bg-gray-900 text-xs font-bold
    transition-all duration-100 scale-0 origin-left;
  }

  .search-bar {
    @apply flex items-center justify-start 
    bg-gray-50 text-gray-500
    px-2 py-4 mb-4 h-9 ml-0 mr-0 w-8/12 
    rounded-md shadow-md 
    focus:z-10 focus:ring-2 focus:ring-inset focus:ring-green-600
    transition duration-300 ease-in-out;
  }

  .search-input {
    @apply w-full pl-1 font-semibold
    bg-transparent outline-none 
    text-gray-800  placeholder-gray-500
    rounded;
  }

  .content-container {
    @apply flex flex-col items-center justify-start overflow-y-auto
    mr-0 ml-10 mx-auto px-6 py-10 w-screen h-screen
    bg-gray-200 overflow-hidden;
  }

  .card {
    @apply relative isolate flex items-center overflow-hidden 
    gap-x-6 py-2.5 px-6 h-10 min-h-10 w-3/4 m-1
    rounded-md hover:rounded-lg shadow-sm
    bg-gray-50 border-gray-100 border-2 hover:border-green-400
    transition-all duration-100 ease-in cursor-pointer;
  }

  .add-card {
    @apply relative isolate flex items-center justify-center overflow-hidden 
    gap-x-6 py-2.5 px-6 h-10 min-h-10 w-3/4 m-1
    rounded-lg
   border-gray-500 border-2 border-dashed hover:border-solid hover:border-green-400
    transition-all duration-100 ease-in cursor-pointer;
  }

  .card-button {
    @apply flex justify-center items-center w-8 h-8 rounded-md hover:rounded-lg
    transition-all duration-100 ease-in;
  }

  .login-input {
    @apply relative block w-80 rounded-md border-0 py-2 px-4 my-4
    text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
    focus:z-10 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6;
  }

  .text-input {
    @apply bg-gray-50 hover:border-green-400 text-gray-900 text-sm
    block w-full p-2.5 rounded-lg my-2
    focus:z-10 focus:ring-2 focus:ring-inset focus:ring-green-600;
  }

  .table-input {
    @apply bg-gray-50 hover:border-green-400 
    text-gray-900 text-sm text-center
    block w-20 p-2.5
    focus:z-10 focus:ring-2 focus:ring-inset focus:ring-green-600;
  }

  .btn-primary {
    @apply btn bg-green-600 hover:bg-green-500 text-white;
  }

  .btn-danger {
    @apply btn bg-red-600 hover:bg-red-500 text-white;
  }

  .btn-warning {
    @apply btn bg-yellow-500 hover:bg-yellow-400 text-white;
  }

  .modal-panel {
    @apply w-full max-w-lg transform overflow-hidden rounded-2xl align-middle shadow-xl
    p-6 text-left bg-white
    transition-all;
  }

  .panel {
    @apply w-3/4 rounded-2xl align-middle p-6 mb-8 text-left bg-white;
  }

  .pdf-view {
    @apply h-96 w-full;
  }
}
