@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@layer components {
  .menu-icon {
    @apply relative flex items-center justify-center h-14 w-14 mt-2 mb-2 mx-auto 
    bg-gray-400 hover:bg-green-400 text-green-50 hover:text-white 
    hover:rounded-xl rounded-3xl 
    transition-all duration-300 ease-linear cursor-pointer shadow-lg;
  }

  .menu-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md 
    text-white bg-gray-900 text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .top-navigation {
    @apply flex flex-row items-center justify-evenly 
    bg-gray-300 dark:bg-gray-700 bg-opacity-90 
    w-full h-16 
    m-0 
    shadow-lg;
  }

  .search-bar {
    @apply flex items-center justify-start 
    bg-gray-400 text-gray-500
    px-2 h-9 ml-0 mr-0 rounded-md shadow-md 
    transition duration-300 ease-in-out;
  }

  .search-input {
    @apply w-full font-sans font-semibold
    bg-transparent outline-none 
    text-gray-500  placeholder-gray-500
    pl-1 rounded;
  }

  .content-container {
    @apply flex flex-col
    m-0 h-full w-full 
    overflow-hidden;
  }
}
